.home {
    background-color: #F8F9FF;
    display: grid;
    gap: 40px;
    grid-template-columns: 384px 1126px;
    align-items: center;
    padding: 0px 51px 63px 59px;
}

/* .dashboard_left {
    background-color: blue;
} */

.dashboard_right {
    background-color: rgb(243, 114, 67);
}